<app-auth-layout
  [pageTitle]="'Create your account'"
  [pageSubTitle]="'Start tracking your savings goals'"
  [heroQuote]="heroQuote"
>
  <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
    <div class="controls flex flex-col pt-6 gap-8">
      <app-input
        label="First name"
        [control]="createUserForm.controls.first_name"
        [submitted]="submitted()"
      />
      <app-input
        label="Last name"
        [control]="createUserForm.controls.last_name"
        [submitted]="submitted()"
      />
      <app-input
        label="Email Address"
        [control]="createUserForm.controls.email"
        [submitted]="submitted()"
      />
      <app-input
        label="Password"
        [control]="createUserForm.controls.password"
        [submitted]="submitted()"
      />
      <app-button [buttonText]="'Create account'" type="submit"></app-button>

      <p class="flex self-center text-neutral-400">
        Already have an account?
        <span
          class="text-neutral-0 border-b border-neutral-0 ml-2 hover:text-neutral-400 hover:border-neutral-400 transition-colors cursor-pointer"
          (click)="navigateToPage()"
          >Sign in</span
        >
      </p>
    </div>
  </form>
</app-auth-layout>
