<div
  class="rounded-xl p-6 flex flex-col gap-4 cursor-pointer transition-colors overflow-visible"
  [class]="featured() ? 'bg-orange-500 md:col-span-2' : 'bg-neutral-800'"
>
  @if (!detailsPage()) {
    <div class="flex items-center justify-between">
      <p
        [class]="featured() ? 'text-white' : 'text-neutral-400'"
        class="text-neutral-0 text-preset-5"
      >
        {{ title() }}
      </p>
    </div>

    <h2
      class="text-preset-1 font-bold"
      [class]="featured() ? 'text-neutral-0' : completed() ? 'text-green-500' : 'text-orange-500'"
    >
      @if (displayMoney()) {
        {{ cardData() | currency }}
      } @else {
        {{ cardData() }}
      }
    </h2>
  }
  <ng-content></ng-content>
</div>
