<app-auth-layout
  pageTitle="Welcome Back"
  pageSubTitle="Sign in to your account"
  [heroQuote]="heroQuote"
>
  <div class="controls flex flex-col pt-6 gap-8">
    <app-input
      [label]="'Email Address'"
      [control]="loginUserForm.controls.username"
      [submitted]="submitted()"
    ></app-input>
    <app-input
      [label]="'Password'"
      (emitForgotPassword)="navigateToPage($event, '/forgot-password')"
      [control]="loginUserForm.controls.password"
      [submitted]="submitted()"
    ></app-input>
    <app-button [buttonText]="'Sign In'" (click)="login()"></app-button>
    <p class="flex self-center text-neutral-400">
      Don't have an account?
      <span
        class="text-neutral-0 border-b border-neutral-0 ml-2 hover:text-neutral-400 hover:border-neutral-400 transition-colors cursor-pointer"
        (click)="navigateToPage($event, '/create')"
        >Create one</span
      >
    </p>
  </div>
</app-auth-layout>
