<app-nav-bar (emitCreateNewGoal)="openCreateGoal($event)"></app-nav-bar>
<div class="min-h-screen bg-neutral-900 flex flex-col gap-6 p-6">
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    <app-info-card
      title="Total Savings"
      [cardData]="totalSavings().toString()"
      [displayMoney]="true"
      [class.md:col-span-2]="true"
    ></app-info-card>
    <app-info-card
      class="relative overflow-hidden"
      title="Active Goals"
      [cardData]="goals().length.toString()"
      [featured]="false"
    >
      <img src="images/pattern-star.svg" alt="" class="absolute bottom-[-55%] -right-[10%] w-50" />
    </app-info-card>

    <app-info-card
      class="relative overflow-hidden"
      title="Completed Goals"
      [cardData]="completedGoals().toString()"
      [completed]="true"
      [featured]="false"
    >
      <img src="images/pattern-star.svg" alt="" class="absolute bottom-[-55%] -right-[10%] w-50" />
    </app-info-card>
  </div>

  <!-- Chart -->
  <div class="bg-neutral-800 rounded-xl">
    <!-- chart goes here -->

    <app-info-card title="Monthly deposits" [completed]="false" [featured]="false">
      @if (!deposits()) {
        <p class="text-neutral-300 text-preset-5 align-center">No deposits yet</p>
      } @else {
        <app-bar-chart [barChartData]="deposits()"></app-bar-chart>
      }
    </app-info-card>
  </div>

  <!-- Goals section -->
  <div class="flex flex-col gap-4 flex-1">
    <div class="flex items-center justify-between">
      <h3 class="text-white font-semibold text-preset-2">Your goals</h3>
      <div class="flex gap-2">
        <app-button
          buttonText="Filters"
          icon="images/icon-filter.svg"
          variant="secondary"
          (click)="filters.toggle($event)"
        ></app-button>
        <div class="card flex justify-center">
          <p-popover #filters>
            <ng-template #content>
              <div class="p-2 flex flex-col gap-3 min-w-[200px]">
                <p class="text-neutral-300 text-xs font-semibold tracking-wider uppercase mb-1">
                  Filter by status
                </p>

                @for (option of filterOptions; track option) {
                  <app-radio-button
                    [options]="option"
                    [currentValue]="activeFilter()"
                    (emitChecked)="filterItems($event)"
                  >
                  </app-radio-button>
                }
              </div>
            </ng-template>
          </p-popover>
        </div>

        <app-button
          buttonText="Sort by"
          icon="images/icon-sort.svg"
          variant="secondary"
          (click)="sort.toggle($event)"
        ></app-button>
        <div class="card flex justify-center">
          <p-popover #sort>
            <ng-template #content>
              <div class="p-2 flex flex-col gap-3 min-w-[200px]">
                <p class="text-neutral-300 text-xs font-semibold tracking-wider uppercase mb-1">
                  Sort by
                </p>

                @for (option of sortOptions; track option) {
                  <app-radio-button
                    [options]="option"
                    [currentValue]="activeSort()"
                    (emitChecked)="sortItems($event)"
                  >
                  </app-radio-button>
                }
              </div>
            </ng-template>
          </p-popover>
        </div>

        <app-button
          buttonText="Clear"
          icon="images/clear-icon.svg"
          variant="secondary"
          (click)="clearFilters()"
        ></app-button>
      </div>
    </div>

    <!-- Goals grid -->
    @if (filteredGoals().length > 0) {
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 auto-rows-[190px]">
        @for (goal of filteredGoals(); track goal; let i = $index) {
          @if (i > 0) {
            <app-goal-card
              [class.lg:col-span-2]="goal.is_featured"
              [class.md:col-span-2]="goal.is_featured"
              [class.lg:row-span-2]="i % 3 === 0"
              [isTall]="i % 3 === 0"
              [goal]="goal"
              [featured]="goal.is_featured"
              (click)="viewGoalDetails(goal)"
            ></app-goal-card>
          } @else {
            <app-goal-card
              [class.lg:col-span-2]="goal.is_featured"
              [class.md:col-span-2]="goal.is_featured"
              [goal]="goal"
              [featured]="goal.is_featured"
              (click)="viewGoalDetails(goal)"
            ></app-goal-card>
          }
        }
      </div>
    } @else {
      <div class="grid grid-cols-1 flex-1">
        <app-no-goals (createGoal)="openCreateGoal($event)"></app-no-goals>
      </div>
    }
  </div>

  @if (visible() && !showModal()) {
    <app-create-goal
      [visible]="visible()"
      (visibleChange)="openCreateGoal($event)"
      (emitCreateGoal)="createNewGoal($event)"
    ></app-create-goal>
  }

  @if (showModal()) {
    <app-modal
      [modalMessage]="modalMessage()"
      [showModal]="showModal()"
      (showModalChange)="closeModals()"
    ></app-modal>
  }
</div>
