<div
  class="relative flex flex-col justify-between gap-8 w-full h-full px-10 py-5 rounded-[16px] border border-white/30 bg-gradient-to-r from-orange-700 to-orange-400 overflow-hidden"
>
  <!-- empty div to push quote to center -->
  <div></div>
  <img src="images/pattern-star-2.svg" alt="" class="absolute bottom-0 right-0 w-96 opacity-5" />

  <p class="font-display text-preset-1 text-neutral-0 relative z-10">"{{ heroQuote().quote }}"</p>

  <span class="text-preset-5 text-neutral-0 relative z-10">— {{ heroQuote().person }}</span>
</div>
